<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booked">

    <application
        android:name=".Booked"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Booked">
        <activity android:name=".EmailVerificationCheckActivity"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity android:name=".SuccessfulVerificationActivity" />
        <activity android:name=".OtherUsersProfile" />
        <activity android:name=".AddPost2" />
        <activity android:name=".EditPost2" />
        <activity android:name=".PostActivity" />
        <activity android:name=".ChangePassword2" />
        <activity android:name=".EditProfile2" />
        <activity android:name=".MyProfile" />
        <activity android:name=".Settings2" />
        <activity android:name=".MyPosts" />
        <activity android:name=".ShowroomActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>