<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booked">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Booked"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Booked">
        <activity android:name=".MyMessages"></activity>
        <activity android:name=".MessageRoom" />
        <activity android:name=".FeedbacksActivity" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".ReportedPosts" />
        <activity android:name=".AdminAddBook" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".EmailVerificationCheckActivity" />
        <activity android:name=".SuccessfulVerificationActivity" />
        <activity android:name=".SuccessfulPasswordChange" />
        <activity android:name=".OtherUsersProfile" />
        <activity android:name=".AddPost" />
        <activity android:name=".EditPost" />
        <activity android:name=".BookProfile" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".EditProfile" />
        <activity android:name=".WishlistActivity" />
        <activity android:name=".PostPage" />
        <activity android:name=".MyProfile" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MyPosts" />
        <activity android:name=".ShowroomActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>